<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><h1>GET DB to API</h1>
    <table>
      <tr><thead><th>firstname</th>
       <th> <th>lastname</th></th>
       <th><th>Action</th></th>
      </tr>
    </thead>
    <tbody>
        {%for x in data %}
       <tr>
        <td> <a href="/"></a></td>
       </tr>
        {%forend%}
    </tbody>

    </table>
    
</body>
</html>