<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>HELLO User!! <br>
    update your data</h1>
    <!-- {{cand}} -->

<form action="/data" method="post">
<input type="text" name="_id" value="{{cand['_id']}}" hidden>
    
<input type="text" name="first_name" value="{{cand['first_name']}}">
<input type="text" name="last_name" value="{{cand['last_name']}}">
<button type="submit">Update</button>
</form>


</body>
</html>