<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span>Heading Example</span>
    <br>
    <br>
    
    <h1>Heading 1</h1>
    <h2>Heading 1</h2>
    <h3>Heading 1</h3>
    <h4>Heading 1</h4>
    <h5>Heading 1</h5>
    <h6>Heading 1</h6>
<p>
    Often, when dealing with iterators, we also need to keep a count of iterations. Python eases the programmers’ task by providing a built-in function enumerate() for this task. The enumerate () function adds a counter to an iterable and returns it in the form of an enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() function.
</p>

<button>Login</button>
<button>Signup</button>

<input type="text" placeholder="text input">
<input type="datetime-local">
<input type="password" placeholder="enter password">
<input type="number">
<img src="" alt="test image">
<hr>
<br>
<br>
<br>
<br>
<h3> This is Form demo</h3>
<br>





<form action="/item" method="post">
<input type="text" placeholder="enter your first name" name="first_name" >
<br>

<input type="text" placeholder="enter your last name" name="last_name">
<br>

<button type="submit">Save</button>


</form>





</body>
</html>