<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <h1 title="Users Info"></h1>
    <a href="getDATA_mymongo.html"></a>
    <table>
        <thead>
            <th>F_name</th>
            <th>L_name</th>
            <th>Action </th>
        </thead>
        <tr>
            <td>{{'first_name'}}</td>
            <td>{{'last_name'}}</td>
            <td><button type="submit">delete</button></td>
        </tr>
        
    </table>   
</body>
</html>